 <footer class="footer">
        <div class="submain">
            <p class="connect">connect with us</p>
            <div class="social">
                <div class="social-m b ">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="social-m c">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                
                <div class="social-m  d"><i class="fa-brands fa-facebook"></i>
</div>
               
            </div>
        </div>

    </footer>