
        <header class="header">
        <div class="container">
            <div class="logo">
                <h1>DD</h1>
                <h3>bizBridge</h3>
            </div>
           <nav class="nav">
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">pricing</a></li>
                <li><a href="">login</a></li>
                <li><a href="">get your services listed</a></li>
            </ul>
           </nav>
        </div>
    </header>
